<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Secure Calculator - Login</title>
  </head>
  <body>
  <h1>Login/Sign-up page</h1>
  <p>Login with your account or enter new details to create an account.</p>
  <form action="/authenticate" method="post">
      <label for="usrname">Username: </label>
      <input type='text' name='username' id="usrname" required /><br><br>
      <label for="passwd">Password: </label>
      <input type='password' name='password' id="passwd" required /><br><br>
      <input type="submit" value="Login" />
  </form>
  </body>
</html>
